{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.boost) }}
    {{ form_row(form.modelPhrases) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
