{% extends 'base.html.twig' %}

{% block title %}Edit ModelPhraseSet{% endblock %}

{% block body %}
    <h1>Edit ModelPhraseSet</h1>

    {{ include('model_phrase_set/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_model_phrase_set_index') }}">back to list</a>

    {{ include('model_phrase_set/_delete_form.html.twig') }}
{% endblock %}
