{% extends 'base.html.twig' %}

{% block title %}ModelPhraseSet index{% endblock %}

{% block body %}
    <h1>ModelPhraseSet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Boost</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for model_phrase_set in model_phrase_sets %}
            <tr>
                <td>{{ model_phrase_set.id }}</td>
                <td>{{ model_phrase_set.name }}</td>
                <td>{{ model_phrase_set.boost }}</td>
                <td>
                    <a href="{{ path('app_model_phrase_set_show', {'id': model_phrase_set.id}) }}">show</a>
                    <a href="{{ path('app_model_phrase_set_edit', {'id': model_phrase_set.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_model_phrase_set_new') }}">Create new</a>
{% endblock %}
