{% extends 'base.html.twig' %}

{% block title %}New ModelPhraseSet{% endblock %}

{% block body %}
    <h1>Create new ModelPhraseSet</h1>

    {{ include('model_phrase_set/_form.html.twig') }}

    <a href="{{ path('app_model_phrase_set_index') }}">back to list</a>
{% endblock %}
