{% extends 'base.html.twig' %}

{% block title %}ModelPhraseSet{% endblock %}

{% block body %}
    <h1>ModelPhraseSet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ model_phrase_set.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ model_phrase_set.name }}</td>
            </tr>
            <tr>
                <th>Boost</th>
                <td>{{ model_phrase_set.boost }}</td>
            </tr>
            <tr>
                <th>Model Phrases</th>
                <td>{% for phrase in model_phrase_set.modelPhrases %}
                {{ phrase.value }}<br>
                {% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_model_phrase_set_index') }}">back to list</a>

    <a href="{{ path('app_model_phrase_set_edit', {'id': model_phrase_set.id}) }}">edit</a>

    {{ include('model_phrase_set/_delete_form.html.twig') }}
{% endblock %}
