<form method="post" action="{{ path('app_transcription_delete', {'id': transcription.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transcription.id) }}">
    <button class="btn">Delete</button>
</form>
