{{ form_start(form) }}
    {{ form_row(form.filename) }}
    {{ form_row(form.title) }}
    {{ form_row(form.phraseSets) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
