{% extends 'base.html.twig' %}

{% block title %}Edit Transcription{% endblock %}

{% block body %}
    <h1>Edit Transcription</h1>

    {{ include('transcription/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_transcription_index') }}">back to list</a>

    {{ include('transcription/_delete_form.html.twig') }}
{% endblock %}
