{% extends 'base.html.twig' %}

{% block title %}Transcription index{% endblock %}

{% block body %}
    <h1>Transcription index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Filename</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transcription in transcriptions %}
            <tr>
                <td>{{ transcription.id }}</td>
                <td>{{ transcription.filename }}</td>
                <td>{{ transcription.title }}</td>
                <td>
                    <a href="{{ path('app_transcription_show', {'id': transcription.id}) }}">show</a>
                    <a href="{{ path('app_transcription_edit', {'id': transcription.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_transcription_new') }}">Create new</a>
{% endblock %}
