{% extends 'base.html.twig' %}

{% block title %}New Transcription{% endblock %}

{% block body %}
    <h1>Create new Transcription</h1>

    {{ include('transcription/_form.html.twig') }}

    <a href="{{ path('app_transcription_index') }}">back to list</a>
{% endblock %}
