{% extends 'base.html.twig' %}

{% block title %}Transcription{% endblock %}

{% block body %}
    <h1>Transcription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transcription.id }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ transcription.filename }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ transcription.title }}</td>
            </tr>
            <tr>
                <th>Phrase Sets</th>
                <td>
                    {% for modelSet in transcription.phraseSets %}
                        {{ modelSet.name }}<br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_transcription_index') }}">back to list</a>

    <a href="{{ path('app_transcription_edit', {'id': transcription.id}) }}">edit</a>

    {{ include('transcription/_delete_form.html.twig') }}
{% endblock %}
