<form method="post" action="{{ path('app_model_phrase_delete', {'id': model_phrase.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ model_phrase.id) }}">
    <button class="btn">Delete</button>
</form>
