{% extends 'base.html.twig' %}

{% block title %}Edit ModelPhrase{% endblock %}

{% block body %}
    <h1>Edit ModelPhrase</h1>

    {{ include('model_phrase/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_model_phrase_index') }}">back to list</a>

    {{ include('model_phrase/_delete_form.html.twig') }}
{% endblock %}
