{% extends 'base.html.twig' %}

{% block title %}ModelPhrase index{% endblock %}

{% block body %}
    <h1>ModelPhrase index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Boost</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for model_phrase in model_phrases %}
            <tr>
                <td>{{ model_phrase.id }}</td>
                <td>{{ model_phrase.value }}</td>
                <td>{{ model_phrase.boost }}</td>
                <td>
                    <a href="{{ path('app_model_phrase_show', {'id': model_phrase.id}) }}">show</a>
                    <a href="{{ path('app_model_phrase_edit', {'id': model_phrase.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_model_phrase_new') }}">Create new</a>
{% endblock %}
