{% extends 'base.html.twig' %}

{% block title %}New ModelPhrase{% endblock %}

{% block body %}
    <h1>Create new ModelPhrase</h1>

    {{ include('model_phrase/_form.html.twig') }}

    <a href="{{ path('app_model_phrase_index') }}">back to list</a>
{% endblock %}
