{% extends 'base.html.twig' %}

{% block title %}ModelPhrase{% endblock %}

{% block body %}
    <h1>ModelPhrase</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ model_phrase.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ model_phrase.value }}</td>
            </tr>
            <tr>
                <th>Boost</th>
                <td>{{ model_phrase.boost }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_model_phrase_index') }}">back to list</a>

    <a href="{{ path('app_model_phrase_edit', {'id': model_phrase.id}) }}">edit</a>

    {{ include('model_phrase/_delete_form.html.twig') }}
{% endblock %}
